a.navbar-brand {
    margin: 0;
}

#top-nav-items.container-fluid {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#burger-menu {

    border: 0px;
    padding: 7px;

    &:focus {
        box-shadow: none !important;
    }
}

