a.navbar-brand {
  margin: 0;
}

#top-nav-items.container-fluid {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#burger-menu {
  border: 0px;
  padding: 7px;

  &:focus {
    box-shadow: none !important;
  }
}

.burger-light {
  span.navbar-toggler-icon {
    background-color: #f1f1f1;
    color: #333;
    transition: all 0.3s ease-in-out;
  }
}
.burger-dark {
  span.navbar-toggler-icon {
    background-color: #333;
    color: #f1f1f1;
    transition: all 0.3s ease-in-out;
  }
}
